body {
  font-family: Arial, sans-serif;
  background-color: #e6f0ff;
  margin: 0;
  padding: 0;
}
 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 20px;
}
 
.header h1 {
  margin: 0;
  font-size: 2em;
}
 
.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
 
.button-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
 
.button-group button {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
 
.button-group button:hover {
  background-color: #a52a2a;
}
 
.expenses-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
  height: 100%;
 
}
 
.total-expenses, .monthly-expenses {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
 
.expense-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
 
.expense-amount {
  font-weight: bold;
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
 
 
 
.chart {
  text-align: center;
}
 
.dropdown {
  position: relative;
  display: inline-block;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  min-width: 160px;
  text-align: center;
}
 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ccc;
}
 
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
 
.dropdown:hover .dropdown-content {
  display: block;
}
 
.selector-container {
  text-align: center;
}
 
.user-selector {
  display: inline-block;
  margin-top: 20px;
}
 
.user-selector label {
  margin-right: 10px;
}
 
.user-selector select,
.user-selector option {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 
 
 
.charts {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
 
.pie, .line {
  flex: 1;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #ffffff;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 
.pie {
  border-radius: 10%;
  text-align: center;
  width: 100%;
  height: auto;
  border: 2px solid #f5c7c7;
}
 
 
 
.line {
  border-radius: 10px; }
 
.chart-container {
  width: 100%;
  height: 100%;
}
 
canvas {
  width: 100% !important;
  height: auto !important;
}
 
 
.month-selector {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px; }
 
.month-selector label {
  margin-left: 250px;
  font-weight: bold;
}
 
.month-selector select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}
 
.month-selector select:hover {
  background-color: #e6e6e6;
}
 
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
 
.monthly-expenses {
  flex: 1;
  min-width: 700px;
}
 
.chart {
  margin-bottom: 20px;
}
 
.month-selector {
  margin-top: 20px;
}