<div class="container">
  <div class="text-center mt-4 mb-4">
    <h1>Expenses</h1>

    <select id="selectedUserId" (change)="onUserSelect($event)">
      <option value="">Select User</option>
      <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }}</option>
    </select>
  </div>

  <div class="ag-theme-alpine" style="height: 500px; width: 100%; margin-top: 20px;">
    <ag-grid-angular
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      class="ag-theme-alpine"
      rowSelection="multiple"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div>
    <button
      (click)="onBtExport()"
      class="btn btn-primary"
    >
      Export to Excel
    </button>
  </div>
</div>